<%= render 'shared/alerts' %>
<div id="page">
  <section id="create-goal">
    <%= link_to "Create a new goal", new_goal_path, class: "create-goal_submit_button" %>
  </section>

  <section class="ongoing-goals">
    <h2 class="goals_header">Ongoing Goals</h2>
    <% current_user.active_goals.each do |goal| %>
      <%= render 'goals/show', goal: goal %>
    <% end %>
    <!-- Add button showing the goals -->
  </section>

  <%= render 'shared/friend_search' %>
  <%= render 'friendships/index' %>

  <section class="friend_list">
    <h1>4.Friend List</h1>
  </section>
  <section class="past_goals">
    <h1>5.Past Goals</h1>
  </section>
</div>