<!Doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @friend.name %>!</h1>
    <p>You have a new friend at BetterBet.com </p>
    <p>To see <%= @user.name %>'s profile </p>
    <p>Log in to the site by clicking the link below: </p>
    <a href="<%= @url %>"><%= @url %></a>
    <p>Search for <%= @user.name %> in the search bar to add them as a friend.</p>

    <p>Also be sure to link up your bank account on your profile page, so your friends can choose you as their benefactor on their goals.</p>

    <p>Thanks for your support and have a great day!</p>
  </body>
</html>