<div class="new-user-form">
  <div class="errors"></div>
  <h1>Create an account</h1>
  <%= render 'shared/flash_errors' %>
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
    <%= f.label :email %>
    <%= f.text_field :email, :required => true %>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true  %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true  %>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
    <%= render "shared/creditcard" %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Sign up with Facebook", "/auth/facebook", class: "facebook_signup_link" %>
</div>

