<article class="user">
    <header class="user_profile_header">
        <h2><%= @user.name %></h2>
          <ul class="user_profile_buttons">
            <li class="user_profile-button">
              <%= link_to image_tag('pencil.svg'), edit_user_path(@user) %>
            </li>
            <li class="user_delete-button" >
              <%= link_to image_tag('times.svg'), user_path(@user), method: :delete %>
            </li>
        </ul>
    </header>

    <% if @user.image  %>
      <img src="<%= @user.image %>">
    <% else %>
      <img src="/assets/default_user_image.svg">
    <% end %>
    <h1><%= @user.name %></h1>
    <label><%= @user.email %></label>
    <label><%= @user.name %></label>
    <label><%= @user.bio %></label>
    <label>Goals</label>
    <% @user.goals.each do |goal| %>
      <%= render partial: 'shared/goals', :locals => {:goal => goal} %>
    <% end %>
</article>