<article class="user_profile">
  <header class="user_profile_header">
    <h2><%= @user.name %></h2>
      <ul class="user_profile_buttons">
        <% if current_user.is_user?(@user) %>
          <li class="user_edit-button">
            <%= link_to image_tag('pencil.svg'), edit_user_path(@user) %>
          </li>
          <li class="user_delete-button" >
            <%= link_to image_tag('times.svg'), user_path(@user), method: :delete, confirm: 'Are you sure you want to delete your account?' %>
          </li>
        <% else %>
          <div class="friend_div"></div>
          <% if current_user.has_friend?(@user)  %>
            <%= link_to image_tag('minus.svg') , "#", class: 'delete_friend friend', data: {friend: "#{@user.id}", user: current_user.id}%><br>
          <% else  %>
            <%= link_to image_tag('plus.svg'), "#", class: 'add_friend friend', data: {id: "#{@user.id}"} %>
          <% end %>
        <% end %>
      </ul>
  </header>

  <div class="friend_status"></div>
  <img class="user_profile_img" src="<%= @image_url %>" >

  <p class="user_profile_bio">
      <%= @user.bio %></label>
  </p>
  <% if current_user.is_user?(@user) %>
    <%= link_to "Become a Buddy", new_recipient_path %>
  <% end %>

  <h2 class="goals_header">Goals</h2>
  <%= render 'goals/index', goals: @user.incomplete_goals %>

</article>
