<label>Title:</label> <%= goal.title %>
<label>Description:</label> <%= goal.description %>
<label>Bet Amount:</label> <%= goal.bet_amount %>
<label>Start Date: </label> <%= goal.start_date %>
<label>End Date:</label> <%= goal.end_date %>
<% if goal.buddy %>
  <label>Accountability Buddy:</label> <%= goal.buddy.name %>
<% end %>

<%= link_to "Edit", edit_goal_path(goal) %>
<%= link_to "Delete", goal_path(goal), method: :delete %>